:root {
    --B: #00eaff;
    --light-shadow: #3b4949;
    --dark-shadow: #0a1112;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 13vw;
    margin-left: 3vw;
    margin-top: 13px;
    font-size: 20px;
}

.logo h1 {
    color: #fff;
}

#S {
    color: rgb(8, 129, 177);
}

body {
    margin: 0;
    background: rgb(14, 48, 71);
}

.main {
    margin: 35vh;
    display: grid;
    grid-template-areas: "overlap";
    place-content: center;
    text-transform: uppercase;
    height: 45vh;
}

.main:hover {
    cursor: grab;
}

.fline,
.sline {
    background-clip: text;
    -webkit-background-clip: text;
    color: #16814c;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    font-size: 7vw;
    grid-area: overlap;
    letter-spacing: 2px;
    -webkit-text-stroke: 3px transparent;
}

.fline {
    background-image: repeating-linear-gradient(105deg,
            var(--B) 1%,
            var(--dark-shadow) 5%,
            var(--B) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px rgb(71, 109, 112));
    transform: scaleY(1.05);
    transform-origin: top;
}

.sline {
    background-image: repeating-linear-gradient(5deg,
            var(--B) 0%,
            var(--light-shadow) 23%,
            var(--B) 31%);
    color: #18191b;
    transform: scale(1);
}